{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Index - Gerenciador de Proposta</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <script src="{% static 'js/home.js' %}" defer></script>
</head>
<body>
   
    
        <header class="header"> 

            <div id="fundo"></div>
            {% comment %} <img src="{% static 'images/headermenor.png' %}" alt="header em azul e roxo"> {% endcomment %}
            
            {% comment %} <img src="{% static 'images/barra.png' %}" alt="header em azul e roxo">
            <img id="logo" src="{% static 'images/logo_header.png' %}" alt="logo em branco" >  {% endcomment %}

           <!-- Inclui o header -->
            {% include "./navbar/nav.html" %}



        </header>

        <div class="container">

            <main>

                <div class="search-bar">
                    <input type="text" placeholder="Digite para buscar...">
                    <img src="{% static 'images/search.png' %}" alt="Ícone de Pesquisa">
                </div>  

                <div id="maincard" class="cards-container">

                    {% for proposta in  propostas %}
                        <div id="card-{{ proposta.Id }}"class="card" onclick="selecionaProposta({{proposta.Id}})">
                            <span class="delete-icon" onclick="confirmDelete({{ proposta.Id }})">&times;</span>
                            <p>{{ proposta.Nome }}</p>
                        </div>
                    {% empty %}
                        <h3>Nenhum registro encontrado.</h3>

                    {% endfor %}
                
                </div>

            </main>

        </div>

        <footer>
            <h3>To Project 2024</h3>
            <p>Gerenciando o seu projeto.<p>
        </footer>   

</body>
</html>